# Created by .ignore support plugin (hsz.mobi)
/.idea/
.idea/workspace.xml
/.idea/inspectionProfiles/
/.idea/ARHack.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/inspectionProfiles/Project_Default.xml
