.signInScreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  overflow: hidden;
  background: url(https://www.standardbank.co.za/images/SBG/Assets/Img/GlobalWeb/W_signin.jpg) no-repeat 50% fixed;
  background-size: cover;
  width: 100%;
  height: auto;
}
